/* Universal Section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

#main {
  width: 100%;
  height: 100%;
  position: relative;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/* Nav-Appointment Section */
.box {
  background-color: #281e12;
  width: 100%;
  height: fit-content;
  position: relative;
}

/* Navbar Section */
.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin: 0 1vw;
  position: relative;
}

.nav-logo,
.nav-anchor,
.nav-icon {
  margin-top: 1.5vh;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4vw;
  position: relative;
}

.nav-logo img {
  height: 4vw;
}

.nav-logo img:active {
  transform: scale(0.96);
}

.nav-logo span {
  color: #cb954b;
  font-size: 2vw;
  font-weight: bold;
}

.nav-logo span:hover {
  color: aliceblue;
  transition: all 0.3s ease;
}

.nav-logo a:active {
  transform: scale(0.96);
}

.nav-anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  position: relative;
}

.nav-anchor a {
  color: #cb954b;
  font-size: 2vw;
  font-weight: 100;
}

.nav-anchor a:hover {
  color: aliceblue;
  transition: all 0.3s ease;
}

.nav-anchor a:active {
  transform: scale(0.96);
}

.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  position: relative;
}

.nav-icon i {
  color: #cb954b;
  font-size: 2vw;
}

.nav-icon .whatsapp {
  font-size: 2.2vw;
}

.nav-icon .twitter:hover {
  color: #1da1f2;
  transition: all 0.3s ease;
}

.nav-icon .facebook:hover {
  color: #316ff6;
  transition: all 0.3s ease;
}

.nav-icon .whatsapp:hover {
  color: #075e54;
  transition: all 0.3s ease;
}

.nav-icon i:active {
  transform: scale(0.96);
}

.bars {
  display: none;
  transition: transform 0.5s ease-in;
  transform: scale(0.96);
}

.bars:hover {
  color: aliceblue;
}

/* Hamburger Section */
.hamburger-box {
  background-color: #281e12;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 100%;
  transition: all 0.4s ease;
  z-index: 100;
}

.hamburger-box .fa-xmark {
  color: #cb954b;
  font-size: 5vw;
  display: flex;
  justify-content: flex-end;
  margin-right: 6px;
  margin-top: 12px;
}

.hamburger-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  gap: 20px;
}

.mob-line {
  width: 43vw;
  height: 1.5px;
  background-color: #cb954b50;
}

.ancs {
  color: #cb954b;
  font-size: 4vw;
  font-weight: 100;
}

.ancs:hover {
  color: aliceblue;
  transition: all 0.3s ease;
}

.ancs:active {
  transform: scale(0.96);
}

.ham-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  position: relative;
}

.ham-icons i {
  color: #cb954b;
  font-size: 4vw;
}

.ham-icons .fa-whatsapp {
  font-size: 4.2vw;
}

.ham-icons .fa-twitter:hover {
  color: #1da1f2;
  transition: all 0.3s ease;
}

.ham-icons .fa-facebook:hover {
  color: #316ff6;
  transition: all 0.3s ease;
}

.ham-icons .fa-whatsapp:hover {
  color: #075e54;
  transition: all 0.3s ease;
}

.ham-icons i:active {
  transform: scale(0.96);
}

/* What Are We Section */
.what-are-we-box1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

.what-are-we-box1 h1 {
  color: #cb954b;
  font-size: 2.5vw;
  margin-top: 70px;
  margin-left: 2.1vw;
}

.line-box {
  display: flex;
  justify-content: center;
}

.what-are-we-box1 .line1 {
  background-color: #cb954b80;
  width: 95vw;
  height: 4px;
}

.what-are-we-box2 {
  width: 96%;
  height: fit-content;
  margin: auto;
  margin-top: 20px;
}

.what-are-we-box2 span {
  color: #cb954b;
  font-size: 2vw;
}

.what-are-we-box3 {
  width: 96%;
  height: fit-content;
  background-color: #cb954b80;
  margin-top: 20px;
}

.what-are-we-box3 span {
  font-size: 2.2vw;
  font-weight: lighter;
  color: #0d0a06;
}

.extra {
  width: 100%;
  height: 50px;
}

/* Our Team Section */
.team {
  background-color: #110d06;
  width: 100%;
  height: fit-content;
  position: relative;
}

.team-box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.team-box1 h2 {
  color: #cb954b;
  font-size: 4vw;
  margin-top: 110px;
}

.team-box1 .line1 {
  background-color: #cb954b80;
  width: 95vw;
  height: 4px;
  margin-top: 40px;
}

.pic1 {
  background: #cb954b50;
  background: linear-gradient(rgb(203, 149, 75, 0.4), rgb(203, 149, 75, 0.4)),
    url(./assets/14-Our-Team.png);
  background-size: cover;
  width: 45.5vw;
  height: 47.5vw;
  box-shadow: 10px 10px 30px black;
}

.pic2 {
  background: #cb954b50;
  background: linear-gradient(rgba(49, 49, 49, 0.4), rgb(203, 149, 75, 0.4)),
    url(./assets/15-Our-Team.png);
  background-size: cover;
  width: 45.5vw;
  height: 47.5vw;
  box-shadow: 10px 10px 30px black;
}

.name-box1 {
  width: 93.4%;
  margin: auto;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  gap: 2vw;
}

.name1 {
  background-color: #db3b2c80;
  width: 40%;
  height: 4.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.name1 p {
  color: #cb954b;
  font-size: 3vw;
  font-weight: bold;
}

.name2 {
  background-color: #db3b2c80;
  width: 40%;
  height: 4.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.name2 p {
  color: #cb954b;
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
}

.team-box2 {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 150px;
  gap: 20px;
}

.pic3 {
  background: #cb954b50;
  background: linear-gradient(rgb(203, 149, 75, 0.4), rgb(203, 149, 75, 0.4)),
    url(./assets/16-Our-Team.png);
  background-size: cover;
  width: 45.5vw;
  height: 47.5vw;
  box-shadow: 10px 10px 30px black;
}

.pic4 {
  background: #cb954b50;
  background: linear-gradient(rgb(203, 149, 75, 0.4), rgb(203, 149, 75, 0.4)),
    url(./assets/17-Our-Team.png);
  background-size: cover;
  width: 45.5vw;
  height: 47.5vw;
  box-shadow: 10px 10px 30px black;
}

.team-box3 {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 90px;
  gap: 20px;
}

.team .extra {
  width: 100%;
  height: 150px;
}

/* Pricing Section */
.pricing {
  background-color: #281e12;
  width: 100%;
  height: fit-content;
  position: relative;
}

.price-box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.price-box1 h2 {
  color: #cb954b;
  font-size: 4vw;
  margin-top: 110px;
}

.price-box1 .line1 {
  background-color: #cb954b80;
  width: 95vw;
  height: 4px;
  margin-top: 40px;
}

.price-box2 {
  margin: auto;
}

.price-box2 img {
  width: 100%;
  margin: auto;
  margin-top: 140px;
}

/* Schedule Section */
.schedule {
  background-color: #110d06;
  width: 100%;
  height: fit-content;
  position: relative;
}

.schedule-box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.schedule-box1 h2 {
  color: #cb954b;
  font-size: 4vw;
  margin-top: 110px;
}

.schedule-box1 .line1 {
  background-color: #cb954b80;
  width: 95vw;
  height: 4px;
  margin-top: 40px;
}

.columns {
  width: 96%;
  height: fit-content;
  margin: auto;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

.col-1 {
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.col-1-1 {
  background-color: #cb954b80;
  width: 15vw;
  height: 3vw;
}

.col-1-1 p {
  color: #0d0a06;
  font-size: 2vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.4vw;
}

.col-1-2 div {
  background-color: #ff160010;
  width: 15vw;
  height: 3vw;
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
}

.col-1-2 div p {
  color: #cb954b;
  font-size: 2vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.4vw;
}

.col-2 {
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.col-2-1 {
  background-color: #cb954b80;
  width: 15vw;
  height: 3vw;
}

.col-2-1 p {
  color: #0d0a06;
  font-size: 2vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.4vw;
}

.col-2-2 div {
  background-color: #ff000040;
  width: 15vw;
  height: 3vw;
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
}

.col-2-2 div p {
  color: #cb954b;
  font-size: 2vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.4vw;
}

.col-3 {
  width: 30%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.col-3-1 {
  background-color: #cb954b80;
  width: 15vw;
  height: 3vw;
}

.col-3-1 p {
  color: #0d0a06;
  font-size: 2vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.4vw;
}

.col-3-2 div {
  background-color: #ff160010;
  width: 15vw;
  height: 3vw;
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
}

.col-3-2 div p {
  color: #cb954b;
  font-size: 2vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.4vw;
}

/* Filled Round Button */
.btn-round-fill {
  background-color: #cb954b80;
  color: #00000090;
  border: 2px solid #cb954b;
  border-radius: 50px;
  width: 47vw;
  height: 5vw;
  box-shadow: 10px 10px 30px black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  margin-top: 6vw;
  transition: all 0.2s ease;
}

.btn-round-fill:active {
  transform: scale(0.96);
}

.btn-round-fill span {
  font-size: 2.4vw;
  font-weight: bolder;
  text-align: center;
  display: flex;
  gap: 18px;
}

.schedule .extra {
  width: 100%;
  height: 120px;
}

/* Footer Section */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: auto;
  background-color: #cb954b;
  width: 100%;
  height: 11vh;
  position: relative;
}

.footer p {
  margin-left: 12px;
}

.footer-anchor a {
  color: #110d06;
}

.footer-icon a i {
  color: #110d06;
  margin-right: 12px;
}

/* Responsive Section After 800px */
@media (max-width: 800px) {
  .nav-logo img {
    height: 6vw;
  }

  .nav-logo span {
    font-size: 4vw;
  }

  .bars {
    display: block;
  }

  .nav-icon i {
    font-size: 4vw;
    margin-left: 3.5vw;
    font-weight: bolder;
  }

  .nav-anchor,
  .twitter,
  .facebook,
  .whatsapp {
    display: none;
  }

  .team {
    height: fit-content;
    margin: auto;
  }

  .team-box1 h2 {
    margin-top: 60px;
  }

  .pic1 {
    background-size: contain;
  }

  .pic2 {
    background-size: contain;
  }

  .pic3 {
    background-size: contain;
  }

  .pic4 {
    background-size: contain;
  }

  .footer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 10px;
  }

  .footer-icon a i {
    font-size: 2.5vh;
  }

  .footer-icon a .whatsapp {
    font-size: 2.5vh;
  }

  .footer-anchor a {
    font-size: 3.5vh;
  }

  .footer-anchor,
  .footer-icon a i {
    display: contents;
  }
}

/* Responsive Section After 690px */
@media (max-width: 690px) {
  .price-box2 {
    background-size: contain;
    background-repeat: no-repeat;
  }
}
